---
import Layout from "../layouts/Layout.astro";
import { CreateTrainingPlanView } from "../components/views/CreateTrainingPlanView";
---

<Layout title="Create Training Plan">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">Create Training Plan</h1>
    <CreateTrainingPlanView client:load />
  </main>
</Layout>
